In [1]:
print('eiei by fair')

eiei by fair

In [2]:
import csv
file = open('SS_20lines.csv')
csvreader = csv.reader(file)
header = []
data = {}
header = next(csvreader)
for i in range(len(header)):
    data[header[i]] = []

for row in csvreader:
    if "" in row:
        break
    for i in range(len(row)):
        data[header[i]].append(row[i])
    #print(row[0])
   
#print(header)
#print(data)
file.close()
#type(csvreader)

In [3]:
import csv
import pandas as pd

#pd.options.display.max_rows = 10
df = pd.read_csv('SS_20lines.csv', encoding='windows-1252')
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2019-152156,8/11/2019,11/11/2019,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2019-152156,8/11/2019,11/11/2019,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2019-138688,12/6/2019,16/6/2019,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2018-108966,11/10/2018,18/10/2018,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2018-108966,11/10/2018,18/10/2018,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          20 non-null     int64
 1   Order ID        20 non-null     object
 2   Order Date      20 non-null     object
 3   Ship Date       20 non-null     object
 4   Ship Mode       20 non-null     object
 5   Customer ID     20 non-null     object
 6   Customer Name   20 non-null     object
 7   Segment         20 non-null     object
 8   Country/Region  20 non-null     object
 9   City            20 non-null     object
 10  State           20 non-null     object
 11  Postal Code     20 non-null     int64
 12  Region          20 non-null     object
 13  Product ID      20 non-null     object
 14  Category        20 non-null     object
 15  Sub-Category    20 non-null     object
 16  Product Name    20 non-null     object
 17  Sales           20 non-null     float64
 18  Quantity        20 non-null     int64
 19  Discount        20 non-null     float64
 20  Profit          20 non-null     float64
dtypes: float64(3), int64(3), object(15)
memory usage: 3.4+ KB

In [5]:
print(df.dtypes['Quantity'])
df.dtypes['Quantity'] == 'int64'

Dimen = []
Meas = []
for head in df.columns:
    if (df.dtypes[head] == 'int64' or df.dtypes[head] == 'float64') and head != 'Row ID' and head != 'Postal Code':
        Meas.append(head)
    elif df.dtypes[head] == 'object' or head == 'Row ID' or head == 'Postal Code':
        Dimen.append(head)
print(Meas)
print(Dimen)
len(Dimen)

int64
['Sales', 'Quantity', 'Discount', 'Profit']
['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID', 'Customer Name', 'Segment', 'Country/Region', 'City', 'State', 'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category', 'Product Name']

17

In [6]:
pd.set_option('display.max_columns',21)

In [7]:
df[['Customer ID','Customer Name']]

   Customer ID       Customer Name
0     CG-12520         Claire Gute
1     CG-12520         Claire Gute
2     DV-13045     Darrin Van Huff
3     SO-20335      Sean O'Donnell
4     SO-20335      Sean O'Donnell
5     BH-11710     Brosina Hoffman
6     BH-11710     Brosina Hoffman
7     BH-11710     Brosina Hoffman
8     BH-11710     Brosina Hoffman
9     BH-11710     Brosina Hoffman
10    BH-11710     Brosina Hoffman
11    BH-11710     Brosina Hoffman
12    AA-10480        Andrew Allen
13    IM-15070        Irene Maddox
14    HP-14815       Harold Pawlan
15    HP-14815       Harold Pawlan
16    PK-19075           Pete Kriz
17    AG-10270     Alejandro Grove
18    ZD-21925  Zuschuss Donatelli
19    ZD-21925  Zuschuss Donatelli

In [8]:
print(df.columns)

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country/Region', 'City',
       'State', 'Postal Code', 'Region', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit'],
      dtype='object')

In [9]:
df.iloc[[0,1]] #searching 2 rows

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2019-152156,8/11/2019,11/11/2019,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,2,CA-2019-152156,8/11/2019,11/11/2019,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820

In [10]:
df.iloc[[0,1],6] #searching by name with 2 rows ####index

0    Claire Gute
1    Claire Gute
Name: Customer Name, dtype: object

In [11]:
df.loc[[0,1],'Customer Name'] ###key is str

0    Claire Gute
1    Claire Gute
Name: Customer Name, dtype: object

In [12]:
df.loc[[0,1],['Customer Name','Customer ID']] #row , column

  Customer Name Customer ID
0   Claire Gute    CG-12520
1   Claire Gute    CG-12520

In [30]:
df['Region'].value_counts()

West       12
South       5
Central     3
Name: Region, dtype: int64

In [14]:
df.loc[0:2,"Country/Region":'State']

  Country/Region         City       State
0  United States    Henderson    Kentucky
1  United States    Henderson    Kentucky
2  United States  Los Angeles  California

In [15]:
df['City']

0           Henderson
1           Henderson
2         Los Angeles
3     Fort Lauderdale
4     Fort Lauderdale
5         Los Angeles
6         Los Angeles
7         Los Angeles
8         Los Angeles
9         Los Angeles
10        Los Angeles
11        Los Angeles
12            Concord
13            Seattle
14         Fort Worth
15         Fort Worth
16            Madison
17        West Jordan
18      San Francisco
19      San Francisco
Name: City, dtype: object

In [16]:
df.set_index('City',inplace=True) #set City for index

In [18]:
df.index

Index(['Henderson', 'Henderson', 'Los Angeles', 'Fort Lauderdale',
       'Fort Lauderdale', 'Los Angeles', 'Los Angeles', 'Los Angeles',
       'Los Angeles', 'Los Angeles', 'Los Angeles', 'Los Angeles', 'Concord',
       'Seattle', 'Fort Worth', 'Fort Worth', 'Madison', 'West Jordan',
       'San Francisco', 'San Francisco'],
      dtype='object', name='City')

In [19]:
df.loc['Los Angeles','Customer Name']

City
Los Angeles    Darrin Van Huff
Los Angeles    Brosina Hoffman
Los Angeles    Brosina Hoffman
Los Angeles    Brosina Hoffman
Los Angeles    Brosina Hoffman
Los Angeles    Brosina Hoffman
Los Angeles    Brosina Hoffman
Los Angeles    Brosina Hoffman
Name: Customer Name, dtype: object

In [20]:
df.iloc[0] #after set index if use index in number #Use iloc

Row ID                                            1
Order ID                             CA-2019-152156
Order Date                                8/11/2019
Ship Date                                11/11/2019
Ship Mode                              Second Class
Customer ID                                CG-12520
Customer Name                           Claire Gute
Segment                                    Consumer
Country/Region                        United States
State                                      Kentucky
Postal Code                                   42420
Region                                        South
Product ID                          FUR-BO-10001798
Category                                  Furniture
Sub-Category                              Bookcases
Product Name      Bush Somerset Collection Bookcase
Sales                                        261.96
Quantity                                          2
Discount                                        0.0
Profit                                      41.9136
Name: Henderson, dtype: object

In [49]:
df.reset_index(inplace=True) #set index to number
df.head()

,index,City,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,0,Henderson,1,CA-2019-152156,8/11/2019,11/11/2019,Second Class,CG-12520,Claire Gute,Consumer,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,1,Henderson,2,CA-2019-152156,8/11/2019,11/11/2019,Second Class,CG-12520,Claire Gute,Consumer,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,2,Los Angeles,3,CA-2019-138688,12/6/2019,16/6/2019,Second Class,DV-13045,Darrin Van Huff,Corporate,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,3,Fort Lauderdale,4,US-2018-108966,11/10/2018,18/10/2018,Standard Class,SO-20335,Sean O'Donnell,Consumer,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,4,Fort Lauderdale,5,US-2018-108966,11/10/2018,18/10/2018,Standard Class,SO-20335,Sean O'Donnell,Consumer,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [69]:
data = pd.read_csv('Superstore.csv', encoding='windows-1252')
tmp = []
for i in data['Region'].values:
    if i not in tmp:
        tmp.append(i)

print(data['Region'].value_counts()['West'])
data.set_index('Region',inplace=True)

#data.loc['Los Angeles','Profit']
profit = []
for i in tmp:
    profit.append(sum(data.loc[i,'Profit']))
print(profit)
tuple(tmp)

3203
[46749.430300000065, 108418.44890000018, 39706.36249999998, 91522.78000000026]

('South', 'West', 'Central', 'East')

In [12]:
import pandas as pd
li = []
df1 = pd.read_csv('SS_20lines.csv', encoding='windows-1252')
df2 = pd.read_csv('SS_100lines.csv', encoding='windows-1252')
li.append(df1)
li.append(df2)
frame = pd.concat(li, axis=0, ignore_index=True)

print(frame.info)
print(frame.iloc[[0,20]])

<bound method DataFrame.info of      Row ID        Order ID  Order Date   Ship Date       Ship Mode  \
0         1  CA-2019-152156   8/11/2019  11/11/2019    Second Class
1         2  CA-2019-152156   8/11/2019  11/11/2019    Second Class
2         3  CA-2019-138688   12/6/2019   16/6/2019    Second Class
3         4  US-2018-108966  11/10/2018  18/10/2018  Standard Class
4         5  US-2018-108966  11/10/2018  18/10/2018  Standard Class
..      ...             ...         ...         ...             ...
115      96  US-2020-109484   6/11/2020  12/11/2020  Standard Class
116      97  CA-2020-161018   9/11/2020  11/11/2020    Second Class
117      98  CA-2020-157833   17/6/2020   20/6/2020     First Class
118      99  CA-2019-149223    6/9/2019   11/9/2019  Standard Class
119     100  CA-2019-158568   29/8/2019    2/9/2019  Standard Class

    Customer ID      Customer Name      Segment Country/Region  \
0      CG-12520        Claire Gute     Consumer  United States
1      CG-12520        Claire Gute     Consumer  United States
2      DV-13045    Darrin Van Huff    Corporate  United States
3      SO-20335     Sean O'Donnell     Consumer  United States
4      SO-20335     Sean O'Donnell     Consumer  United States
..          ...                ...          ...            ...
115    RB-19705       Roger Barcio  Home Office  United States
116    PN-18775     Parhena Norris  Home Office  United States
117    KD-16345   Katherine Ducich     Consumer  United States
118    ER-13855  Elpida Rittenbach    Corporate  United States
119    RB-19465       Rick Bensley  Home Office  United States

                City  ... Postal Code   Region       Product ID  \
0          Henderson  ...       42420    South  FUR-BO-10001798
1          Henderson  ...       42420    South  FUR-CH-10000454
2        Los Angeles  ...       90036     West  OFF-LA-10000240
3    Fort Lauderdale  ...       33311    South  FUR-TA-10000577
4    Fort Lauderdale  ...       33311    South  OFF-ST-10000760
..               ...  ...         ...      ...              ...
115         Portland  ...       97206     West  OFF-BI-10004738
116    New York City  ...       10009     East  FUR-FU-10000629
117    San Francisco  ...       94122     West  OFF-BI-10001721
118       Saint Paul  ...       55106  Central  OFF-AP-10000358
119          Chicago  ...       60610  Central  OFF-PA-10003256

            Category Sub-Category  \
0          Furniture    Bookcases
1          Furniture       Chairs
2    Office Supplies       Labels
3          Furniture       Tables
4    Office Supplies      Storage
..               ...          ...
115  Office Supplies      Binders
116        Furniture  Furnishings
117  Office Supplies      Binders
118  Office Supplies   Appliances
119  Office Supplies        Paper

                                          Product Name     Sales  Quantity  \
0                    Bush Somerset Collection Bookcase  261.9600         2
1    Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2    Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3        Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                       Eldon Fold 'N Roll Cart System   22.3680         2
..                                                 ...       ...       ...
115  Flexible Leather- Look Classic Collection Ring...    5.6820         1
116                    9-3/4 Diameter Round Wall Clock   96.5300         7
117                     Trimflex Flexible Post Binders   51.3120         3
118  Fellowes Basic Home/Office Series Surge Protec...   77.8800         6
119         Avery Personal Creations Heavyweight Cards   64.6240         7

     Discount    Profit
0        0.00   41.9136
1        0.00  219.5820
2        0.00    6.8714
3        0.45 -383.0310
4        0.20    2.5164
..        ...       ...
115      0.70   -3.7880
116      0.00   40.5426
117      0.20   17.9592
118      0.00   22.5852
119      0.20   22.6184

[120 rows x 21 columns]>
    Row ID        Order ID Order Date   Ship Date     Ship Mode Customer ID  \
0        1  CA-2019-152156  8/11/2019  11/11/2019  Second Class    CG-12520
20       1  CA-2019-152156  8/11/2019  11/11/2019  Second Class    CG-12520

   Customer Name   Segment Country/Region       City  ... Postal Code  Region  \
0    Claire Gute  Consumer  United States  Henderson  ...       42420   South
20   Claire Gute  Consumer  United States  Henderson  ...       42420   South

         Product ID   Category Sub-Category  \
0   FUR-BO-10001798  Furniture    Bookcases
20  FUR-BO-10001798  Furniture    Bookcases

                         Product Name   Sales  Quantity  Discount   Profit
0   Bush Somerset Collection Bookcase  261.96         2       0.0  41.9136
20  Bush Somerset Collection Bookcase  261.96         2       0.0  41.9136

[2 rows x 21 columns]

In [6]:
import csvManager
csvManager.getsizeDimention('City')

531