In [1]:
print('eiei by fair')

eiei by fair

In [8]:
import csv
file = open('SS_20lines.csv')
csvreader = csv.reader(file)
header = []
data = {}
header = next(csvreader)
for i in range(len(header)):
    data[header[i]] = []

for row in csvreader:
    if "" in row:
        break
    for i in range(len(row)):
        data[header[i]].append(row[i])
    #print(row[0])
   
#print(header)
#print(data)
file.close()
#type(csvreader)

In [25]:
import csv
import pandas as pd

#pd.options.display.max_rows = 10
df = pd.read_csv('SS_20lines.csv', encoding='windows-1252')
print(df)

    Row ID        Order ID  Order Date   Ship Date       Ship Mode  \
0        1  CA-2019-152156   8/11/2019  11/11/2019    Second Class
1        2  CA-2019-152156   8/11/2019  11/11/2019    Second Class
2        3  CA-2019-138688   12/6/2019   16/6/2019    Second Class
3        4  US-2018-108966  11/10/2018  18/10/2018  Standard Class
4        5  US-2018-108966  11/10/2018  18/10/2018  Standard Class
..     ...             ...         ...         ...             ...
15      16  US-2018-118983  22/11/2018  26/11/2018  Standard Class
16      17  CA-2017-105893  11/11/2017  18/11/2017  Standard Class
17      18  CA-2017-167164   13/5/2017   15/5/2017    Second Class
18      19  CA-2017-143336   27/8/2017    1/9/2017    Second Class
19      20  CA-2017-143336   27/8/2017    1/9/2017    Second Class

   Customer ID       Customer Name      Segment Country/Region  \
0     CG-12520         Claire Gute     Consumer  United States
1     CG-12520         Claire Gute     Consumer  United States
2     DV-13045     Darrin Van Huff    Corporate  United States
3     SO-20335      Sean O'Donnell     Consumer  United States
4     SO-20335      Sean O'Donnell     Consumer  United States
..         ...                 ...          ...            ...
15    HP-14815       Harold Pawlan  Home Office  United States
16    PK-19075           Pete Kriz     Consumer  United States
17    AG-10270     Alejandro Grove     Consumer  United States
18    ZD-21925  Zuschuss Donatelli     Consumer  United States
19    ZD-21925  Zuschuss Donatelli     Consumer  United States

               City       State  Postal Code   Region       Product ID  \
0         Henderson    Kentucky        42420    South  FUR-BO-10001798
1         Henderson    Kentucky        42420    South  FUR-CH-10000454
2       Los Angeles  California        90036     West  OFF-LA-10000240
3   Fort Lauderdale     Florida        33311    South  FUR-TA-10000577
4   Fort Lauderdale     Florida        33311    South  OFF-ST-10000760
..              ...         ...          ...      ...              ...
15       Fort Worth       Texas        76106  Central  OFF-BI-10000756
16          Madison   Wisconsin        53711  Central  OFF-ST-10004186
17      West Jordan        Utah        84084     West  OFF-ST-10000107
18    San Francisco  California        94109     West  OFF-AR-10003056
19    San Francisco  California        94109     West  TEC-PH-10001949

           Category Sub-Category  \
0         Furniture    Bookcases
1         Furniture       Chairs
2   Office Supplies       Labels
3         Furniture       Tables
4   Office Supplies      Storage
..              ...          ...
15  Office Supplies      Binders
16  Office Supplies      Storage
17  Office Supplies      Storage
18  Office Supplies          Art
19       Technology       Phones

                                         Product Name     Sales  Quantity  \
0                   Bush Somerset Collection Bookcase  261.9600         2
1   Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2   Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3       Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                      Eldon Fold 'N Roll Cart System   22.3680         2
..                                                ...       ...       ...
15   Storex DuraTech Recycled Plastic Frosted Binders    2.5440         3
16  Stur-D-Stor Shelving, Vertical 5-Shelf: 72"H x...  665.8800         6
17                         Fellowes Super Stor/Drawer   55.5000         2
18                                         Newell 341    8.5600         2
19                            Cisco SPA 501G IP Phone  213.4800         3

    Discount    Profit
0       0.00   41.9136
1       0.00  219.5820
2       0.00    6.8714
3       0.45 -383.0310
4       0.20    2.5164
..       ...       ...
15      0.80   -3.8160
16      0.00   13.3176
17      0.00    9.9900
18      0.00    2.4824
19      0.20   16.0110

[20 rows x 21 columns]

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          20 non-null     int64
 1   Order ID        20 non-null     object
 2   Order Date      20 non-null     object
 3   Ship Date       20 non-null     object
 4   Ship Mode       20 non-null     object
 5   Customer ID     20 non-null     object
 6   Customer Name   20 non-null     object
 7   Segment         20 non-null     object
 8   Country/Region  20 non-null     object
 9   City            20 non-null     object
 10  State           20 non-null     object
 11  Postal Code     20 non-null     int64
 12  Region          20 non-null     object
 13  Product ID      20 non-null     object
 14  Category        20 non-null     object
 15  Sub-Category    20 non-null     object
 16  Product Name    20 non-null     object
 17  Sales           20 non-null     float64
 18  Quantity        20 non-null     int64
 19  Discount        20 non-null     float64
 20  Profit          20 non-null     float64
dtypes: float64(3), int64(3), object(15)
memory usage: 3.4+ KB

In [27]:
pd.set_option('display.max_columns',21)

In [35]:
df[['Customer ID','Customer Name']]

   Customer ID       Customer Name
0     CG-12520         Claire Gute
1     CG-12520         Claire Gute
2     DV-13045     Darrin Van Huff
3     SO-20335      Sean O'Donnell
4     SO-20335      Sean O'Donnell
..         ...                 ...
15    HP-14815       Harold Pawlan
16    PK-19075           Pete Kriz
17    AG-10270     Alejandro Grove
18    ZD-21925  Zuschuss Donatelli
19    ZD-21925  Zuschuss Donatelli

[20 rows x 2 columns]

In [41]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country/Region', 'City',
       'State', 'Postal Code', 'Region', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit'],
      dtype='object')

In [44]:
df.iloc[[0,1]] #searching 2 rows

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2019-152156,8/11/2019,11/11/2019,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,2,CA-2019-152156,8/11/2019,11/11/2019,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820

In [46]:
df.iloc[[0,1],6] #searching by name with 2 rows ####index

0    Claire Gute
1    Claire Gute
Name: Customer Name, dtype: object

In [49]:
df.loc[[0,1],'Customer Name'] ###key is str

0    Claire Gute
1    Claire Gute
Name: Customer Name, dtype: object

In [51]:
df.loc[[0,1],['Customer Name','Customer ID']] #row , column

  Customer Name Customer ID
0   Claire Gute    CG-12520
1   Claire Gute    CG-12520

In [55]:
df['State'].value_counts()

California        10
Kentucky           2
Florida            2
Texas              2
North Carolina     1
Washington         1
Wisconsin          1
Utah               1
Name: State, dtype: int64

In [62]:
df.loc[0:2,"Country/Region":'State']

  Country/Region         City       State
0  United States    Henderson    Kentucky
1  United States    Henderson    Kentucky
2  United States  Los Angeles  California